.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}
.top-tags{
    bottom: auto;
    top: 35px
}

.tags{
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore';
}

.bottom-tag-html{
    margin-left: -20px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position:absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    
    
}
.text-zone2 {
    position: absolute;
    left: 10%;
    top: 15%;
    transform: translate(60%,-200%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    font-family: 'Coolvetica';
    color: #ffd700;
  }
  .text-zone3 {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(130%,-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    font-family: 'Coolvetica';
    color: #ffd700;
  }

  iframe {
    width: 50%;
    height: 75%;
    margin-top: 100px;
    position: relative;


  }
  @media (max-width: 1200px) {
    .tags{
      display: none;
    }
    .text-zone2 {
      position: absolute;
      left: 10%;
      top: -10%;
      transform: translate(60%,10%);
      width: 35%;
      vertical-align: middle;
      display: table-cell;
      max-height: 90%;
      
    }
  }
  @media screen and (max-width: 900px) {


    .text-zone3 {
    border: 5px ;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: 90%;  
    height: 45%;      
        
      }
  }